body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
.card{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(45deg, #eee 20%, #da58d0 80% );
    /* background: #eDeDe0; */
    box-shadow: 20px 20px 40px #bebebe, -20px -20px 20px #ffffff;
}
.btn{
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.Dec{
    background-color: red;
    color: white;
}
.res{
    color: white;
    background-color: black
    
}
.inc{
    color: white;
    background-color: green
    
}
.btn:hover{
    opacity: 70%;
}
/* .inc:hover{
    background-color: rgb(68, 185, 68);
}
.res:hover{
    background-color: rgba(0, 0, 0, 0.792)
}
.Dec:hover{
    background-color: rgba(239, 16, 16, 0.655);

} */
/* .result{
   
    
} */
.display{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: #eee;
    color: black;
    width: 50px;
    height: 50px;
    padding: 20px;
    border-radius: 50%;
}